[2017-06-11 01:25] sumurthy opened #1 "Nodemon runs in endless loop"
I completed all the steps. But the `"tsc-w": "tsc -p tsconfig.json --watch"` command fails with -p flag is included.
Once I get past that step removing -p flag, `npm run start` results in endless loop.
![image](https://user-images.githubusercontent.com/8384457/27007492-18dedb96-4e0a-11e7-9dd8-f85dee1a4a01.png)

[2017-06-11 02:07] Rick-Kirkham commented on #1
I cannot reproduce these errors.  What exactly is the failure when the tsc-w command executes?

[2017-06-12 00:00] sumurthy commented on #1
Here is the error that I get when I do the npm run build. I have latest 8.* version of Node.
Instead of doing all the TODO# fills, I started from completed folder and added the relevant tokens, etc.

![image](https://user-images.githubusercontent.com/8384457/27015620-492ed7f2-4ec7-11e7-9f93-832133f88b95.png)

[2017-06-12 00:02] sumurthy commented on #1
Also, I hit several snags during npm install. I had to manually bring several modules such as nodemon.

[2017-06-12 00:26] sumurthy commented on #1
I tested with the /Before folder and there it works okay. I'm able to start the server and load the add-in. I think there is some issue with the /Completed folder setup. You may want to re-create or copy over from Before to make it work.

[2017-06-12 00:36] sumurthy opened #2 "Add-in doesn't fetch Drive information"
Once I got this to load in PowerPoint, the Add-in doesn't do anything. the "Get my files from OneDrive" just grays out and nothing happens.

![image](https://user-images.githubusercontent.com/8384457/27015804-865c6acc-4ecc-11e7-9a22-4d94a39b7e3f.png)

[2017-06-12 04:45] Rick-Kirkham commented on #1
I was using the Completed version when I tried to reproduce. I could not reproduce this error. That error normally means that the first character of the tsconfig.json file is not "{"  as it should be.

[2017-06-12 04:45] #1 closed

[2017-06-12 04:55] Rick-Kirkham commented on #2
I can reproduce this. Office is returning error 13007 "Error occurred in the authentication provider." This means that Office is not getting a token from the AAD V2 endpoint. This is a problem that can't be fixed in the sample itself. I reported it yesterday. I'll loop you on the email thread.

[2017-09-13 21:46] ensemble-joe commented on #2
Would you be able to provide an update to this issue?  Or possible resolution?  I have tried this sample add-in a few days ago, and I'm getting the same error (13007).

[2017-09-14 02:24] Rick-Kirkham commented on #2
@ensemble-joe
Other people fixed 13007 by going to the add-in registration and asking for "profile" permission to Microsoft Graph in addition to "files-read-all". You then have to redo the admin consent procedure too.

I've held off updating the documentation because there are several other changes coming soon.

[2017-09-15 20:07] ensemble-joe commented on #2
@Rick-Kirkham
Thanks for your reply.
I have added "profile" permission and redo the admin consent, but I'm still getting the same error (13007)
<img width="761" alt="screen shot 2017-09-15 at 12 21 51 pm" src="https://user-images.githubusercontent.com/19603833/30501054-c25b9784-9a15-11e7-9c75-6bf309dfacc5.png">

Any other workaround I can try?  Also, do you have an ETA on when the documentation wi

[2017-11-14 23:16] dianibar opened #3 "getAccessTokenAsync give me 5001 error"
Hi,
I follow all the steps given in the example and then when I try to run the add-in in power-point on-line Build:16.0.8812.5630. I got the next error:

![error-2017-11-15 10-12-01](https://user-images.githubusercontent.com/4245701/32810115-afbfdf88-c9ed-11e7-84b9-65118b98771d.png)

Code:5001
Message: An internal error has occurred
name: Internal Error

Any ideas what this is happening? Can I use

[2017-11-15 00:43] Rick-Kirkham commented on #3
Please install the Fiddler tool (or Charles tool) and see what the network call looks like when `getAccessTokenAsync` runs. There are links to the tools in this article: [Troubleshoot SSO in Office Add-ins](https://dev.office.com/docs/add-ins/develop/troubleshoot-sso-in-office-add-ins)

[2017-11-29 22:42] Danwakeem opened #4 "getAccessTokenAsync give me 5013 error in Windows 10"
Hey there I used this repository to better understand how to set up SSO for a Excel application and I am running across a strange issue.

I got this project working locally on my Mac and then pushed the code for the server and the client side add in to a cloud platform. Then I modified the manifest file to point to the application I have running in the cloud.

With the modified manifest file on my

[2017-11-29 23:58] nigel-dewar opened #5 "Can Passport now be included in this sample now issues with dynamic keys?"
Now these issues are resolved,

Looking at
https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/blob/master/Completed/src/auth.ts

 * (https://github.com/themikenicholson/passport-jwt/pull/108)
 * (https://github.com/themikenicholson/passport-jwt/issues/94)

Can we please see this sample using the Passport implementation? Now that dynamic keys are useable?

Cheers

Nigel D

[2017-11-30 00:13] Rick-Kirkham commented on #4
The same manifest should work everywhere. (Although some manifests cannot be deployed through a SharePoint catalog.) When you sideload on Windows, what kind of catalog are you using?

[2017-11-30 00:19] Rick-Kirkham commented on #5
@nigel-dewar
I'm afraid that changing the sample to use passport is very low priority. If someone in the community wants to do it, we could consider a Pull Request, or perhaps adding passport version as a second version. In the meantime, I plan to remove the mention of passport from the file. Realistically, there's very little chance we'll ever do this.

[2017-11-30 00:19] #5 closed

[2017-11-30 00:31] Danwakeem commented on #4
I am not sure I just followed the instructions to make a shared folder on my computer the adding that in the trusted add ins section. I followed the [instructions here](https://dev.office.com/docs/add-ins/testing/create-a-network-shared-folder-catalog-for-task-pane-and-content-add-ins)

[2017-11-30 00:42] Rick-Kirkham commented on #4
OK. That means you are using a NetworkShare catalog, which should be fine. I'll see if I can find out anything.

[2017-11-30 00:52] Danwakeem commented on #4
Ahh okay, thank you so much for helping!

[2017-11-30 00:58] nigel-dewar commented on #5
NP Rick , makes sense.

I'll sort it and submit a PR. I'll even through in some socket.io goodness for freeeeeee.

Love your work by the way, really good samples, good quality stuff that I reference all the time.

Cheers mate.

Nigel

[2017-11-30 01:33] Rick-Kirkham commented on #4
While we're waiting to hear back from the experts, a couple of thoughts:
1. The errors that are specific to get AccessTokenAsync are number 13xxx. Error numbers 5xxx are from deeper in the Office.js code.
2. The JavaScript engine that Office.js runs in on Windows is the version in IE 11 called Chakra. On a Mac the engine is the one in Safari called JavaScriptCore. Your error is "Invalid input argu

[2017-11-30 01:46] Danwakeem commented on #4
Yeah I had seen that about the status codes. It was strange though because even on some of the other status code pages I could find the 5013 code.

The callback function is es5 syntax. Here is the first part of the function I made.

[code]

[2017-11-30 14:58] Danwakeem commented on #4
Is it possible the version of Excel I have is not compatible? The version of Excel I have for Windows 10 is 2016 version 1705.

Edit: Add it looks like this might be the case. This web page ways you have to have [1708 or later](https://dev.office.com/reference/add-ins/requirement-sets/identity-api-requirement-sets).

[2017-11-30 19:55] Rick-Kirkham commented on #4
@Danwakeem
One of our engineers just sent that same suggestion: Upgrade to 1708 8528.1000 or later.

[2017-11-30 20:10] Danwakeem commented on #4
Do you know if that build of Excel released yet? When I download Excel from our client's Office 365 management page it only gives me version 1705?

Edit: Sorry, I clearly need to read before commenting. I see on this page that I am probably just getting my build from a [deferred channel](https://support.office.com/en-us/article/Version-and-build-numbers-of-update-channel-releases-ae942449-1fca-448

[2017-11-30 20:31] Rick-Kirkham commented on #4
You many need to be an Office Insider to obtain this version. For more information, see [Be an Office Insider](https://products.office.com/en-us/office-insider?tab=tab-1) .

[2017-11-30 21:48] Danwakeem commented on #4
It does appear that my Excel version was the issue. Another company we work with has Office 365 Business Premium and when I uninstalled Office then reinstalled with the Business Premium version it gave me version 1710 and when I ran my plugin with that version of Excel SSO worked just fine.

Kind of a bummer though. I definitly should have read the documentation more carefully before I implemented

[2017-11-30 21:48] #4 closed

[2018-01-12 13:34] PieterVm commented on #2
Same issue here..

[2018-01-12 16:58] Rick-Kirkham commented on #2
@PieterVm Are you working with this NodeJS sample or with the ASP.NET sample? You've created an issue on the ASP.NET sample repo and added to this one. I'm asking because the registration permissions needed are different for the two samples. The ASP.NEt sample uses MSAL which internally requires 2 additional permissions that this NodeJS sample does not require.

[2018-01-15 07:30] PieterVm commented on #2
I'm working with the ASP version and followed that tutorial.

[2018-01-15 21:21] Rick-Kirkham commented on #2
In that case, I'll close this. Please raise the issue for the ASP.NET sample. It is confusing for others to track it here in the NodeJS sample.

[2018-01-15 21:21] #2 closed

[2018-02-03 23:39] saskodh opened #7 "Office Online SSO"
Hi, I'm successfully running the completed project locally in Excel on Windows. By following the guide carefully I understood that the SSO should work also on Excel Online. However when I try to run in it there I get the following error:
![Office Online SSO Error](https://tjenaa.bn1301.livefilestore.com/y4mMrHauO5ugCpbzM-iLyl8XWK7Qy1-iwgdslmwkTXXcCmnNw6rjnnVZ_emCJZ5biVeGv9CfhC_Vh1yQ8TJYpBspnr9y8Dm

[2018-02-03 23:53] Rick-Kirkham commented on #3
Closing because haven't heard back from customer.

[2018-02-03 23:53] #3 closed

[2018-02-04 23:18] Rick-Kirkham commented on #7
Do you get this error when you sideload the add-in or when you open the task pane or when you click the button inside the task pane? Please give the steps that lead up to the error.
Also, are you hosting the add-in on localhost when you try to run it on Office Online?

[2018-02-11 18:19] saskodh commented on #7
Hi @Rick-Kirkham, sorry for the missing information.
I was running the 'Completed' example on localhost. Loaded the add-in on the side in Office Online by uploading the add-in manifest and trying to list the OneDrive files by clicking on the 'Get My Files from OneDrive' button in the add-in. Once I click the button I get redirected to the page from the screenshot. This same scenario works though w

[2018-02-26 19:32] Rick-Kirkham commented on #7
We are still working on this.

[2018-03-05 18:53] blandine opened #8 "Error 13006 : An unexpected error occurred in the client."
Hi,
Thank you for this sample :)
I launched the completed version but I have an error in the console when trying to get the OneDrive files :
` Error 13006 : An unexpected error occurred in the client.
Error occurred in the authentication request from Office.`
I tried on Windows Excel and online Excel.
I changed nothing except the application id in the manifest.

Thank you for your help

[2018-03-05 23:50] Rick-Kirkham commented on #8
The only information I have for 13006 is in this article: [Troubleshoot SSO](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/troubleshoot-sso-in-office-add-ins). Did you make the needed changes to the web.config?

[2018-03-06 10:12] blandine commented on #8
Thanks for your reply !
I'm in a full nodejs environment : I run the sample with npm run start (as specified in the package.json file).
No IIS, no VS so I don't have any web.config.
What did you mean exactly by the "needed changes in web.config"? If the server needs to be customized, I guess we can do the same with Node.
However, I don't know where to start. The error is a bit unclear ...
Would it

[2018-03-06 20:03] Rick-Kirkham commented on #8
@blandine My bad. We have an ASP.NET sample too and I got them mixed up. This sample, of course, has no web.config. What I should have asked was whether you'd carried out the steps in https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs#configure-the-add-in

[2018-03-09 23:33] Rick-Kirkham commented on #7
The product team has identified a couple of bugs that are behind this. A fix won't be in production for a couple of weeks.

[2018-04-26 09:43] Nithinunt opened #9 "No access_token response"
Hi
I lunched complete sample but when my code ran to exchangeForToken in auth.ts and res.json() the values return only { refresh_token: 'xxx', id_token: 'xxx' } no access_token, then i got undefined and can't complete sample.

What is i missed ?

Thank you for your help.

[2018-04-27 11:30] Nithinunt commented on #9
I got a solution by request with refresh_token again then access_token show up. Thank.

[2018-05-03 00:01] ninoj0seph opened #10 "UnauthorizedError: Unable to verify JWT.jwt expired"
Hi I followed the instructions online uploaded the xml on office online however when i click the get one drive files button nothing comes out and i get this error from the console. Please help thank you

[2018-05-03 03:33] Rick-Kirkham commented on #10
@ninoj0seph
Does the sample work on desktop Office?

[2018-07-13 14:15] ardabeyazoglu opened #11 "The scope is not valid"
Hi,

I followed the tutorial with the code in this repo to create a simple office365 word addin, and only changed the ids, secrets etc. however it doesn't work when it attempts to get an access token to retrive drive files.

Here is the url (decoded) of the token request when i check in network:
`https://login.live.com/oauth20_authorize.srf?client_id=00000000481710A4&response_type=token&redirect_u

[2018-07-20 00:14] Rick-Kirkham commented on #11
We need more information to help you. What are the exact steps that lead up to the error. What is the error message?

[2018-07-23 09:02] ardabeyazoglu commented on #11
The error message is included in the response: `The provided value for the input parameter 'scope' is not valid. The scope 'api://localhost:3000/dad7312f-6ccd-4026-8a80-86441223c790/access_as_user' does not exist.`

I followed the steps as described in [documentation](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs).

[2018-07-23 17:37] Rick-Kirkham commented on #11
The client_id is something internal when you are using a Microsoft Account, so that is expected.
Are you logged into Office with more than one account? If so, try logging out of all accounts in Office. Closing all Office apps and then reopening and logging in with _only_ the Microsoft Account.
Does the **Scope** name in the application registration say 'api://localhost:3000/dad7312f-6ccd-4026-8a80

[2018-07-24 20:13] ardabeyazoglu commented on #11
Hello,

1) I login with only one account in the same browser.
2) Manifest block is as follows: (also [here](https://prnt.sc/kajd6l))
        `<WebApplicationInfo>
	      <Id>dad7312f-6ccd-4026-8a80-86441223c790</Id>
	      <Resource>api://localhost:3000/dad7312f-6ccd-4026-8a80-86441223c790</Resource>
	      <Scopes>
		<Scope>files.read.all</Scope>
		   <Scope>profile</Scope>
	      </Scopes>
	</We

[2018-07-24 20:50] Rick-Kirkham commented on #11
Is an error returned from `getAccessTokenAsync` on the _first_ try? If not, what is returned as the `result `object to the callback on the first try?  If you put a `console.log("here")`; in the callback, does it run?

[2018-07-24 21:11] ardabeyazoglu commented on #11
At first request it redirects to that error response i wrote above with the same error message “the scope is not valid”

[2018-07-24 21:40] Rick-Kirkham commented on #11
@ardabeyazoglu
I understand. But when `getAccessTokenAsync `completes, the callback that is passed to it runs. A `result` object is passed to that callback. The `result` object will contain a `result.status` of success or failure, and it will have a `result.error` property if the call of `getAccessTokenAsync` failed. It will have a result.value property if the call succeeded. I'm trying to underst

[2018-07-25 07:49] ardabeyazoglu commented on #11
This code does not log anything. Callback is not executed.

[code]

[2018-07-25 16:00] Rick-Kirkham commented on #11
OK. An internal developer is reporting a problem with a "scope" error (on Windows Office, not Office Online). We are working on it. I will report back anything useful.

[2018-07-25 16:04] ardabeyazoglu commented on #11
Thanks. But i am using online office and got this problem there.

[2018-07-25 16:22] Rick-Kirkham commented on #11
I understand. We think a bug in Microsoft Account identity system might be the cause of the error on both Windows Office and Office Online. It might be that the app registration is not getting saved to MS identity.

[2018-07-25 16:28] ardabeyazoglu commented on #11
I understand and it might be noteworthy to mention that I am testing it without installing from market. I upload the manifest xml to try. Everything else works except `getAccessTokenAsync`.

[2018-07-27 15:36] Rick-Kirkham commented on #11
@ardabeyazoglu The Microsoft Account identity team thinks that they might have it fixed. They've asked that you try again.

[2018-07-27 15:39] ardabeyazoglu commented on #11
Thanks! I ll try it asap and let you know the result.

[2018-08-06 06:03] ardabeyazoglu commented on #11
Hello again, sorry for late answer. We tried again but didnt work. everything was the same.

[2018-08-06 16:18] venkatkonjeti opened #12 "Office.context.auth undefined"
I am creating a POC for Outlook add-in SSO. I have followed the complete article and testing the solution but getting basic errors. Not sure if I am doing anything wrong.

`Office.context.auth.getAccessTokenAsync({forceConsent: false},
            function (result) {
                if (result.status === "succeeded") {
                    accessToken = result.value;
                    getData("/a

[2018-08-06 16:41] Rick-Kirkham commented on #12
What is the build number of your Office?

[2018-08-06 16:56] venkatkonjeti commented on #12
My Office is "Microsoft Office Professional Plus 2016 - 16.0.44266.1001"

[2018-08-06 17:13] Rick-Kirkham commented on #12
The auth object is not supported on that version of Office. See https://dev.office.com/reference/add-ins/requirement-sets/identity-api-requirement-sets and the note near the top of this article: https://docs.microsoft.com/en-us/office/dev/add-ins/develop/sso-in-office-add-ins

[2018-08-06 17:13] #12 closed

[2018-08-06 17:21] venkatkonjeti commented on #12
Thank you so much. I am checking the major version number and overlook the minor number. I will try to install the new build and try again.

[2018-08-07 17:07] Rick-Kirkham commented on #11
The product team asks you to double check that in your app configuration in apps.dev.office.com, in the WebAPI section, the app’s URI is api://localhost:3000/dad7312f-6ccd-4026-8a80-86441223c790 and he added scope: api://localhost:3000/dad7312f-6ccd-4026-8a80-86441223c790/access_as_user.

If the configuration is OK, then you are hitting a bug where the scope permissions for Microsoft Accounts is n

[2018-08-13 14:04] ardabeyazoglu commented on #11
Thanks, this was the issue. I created the web api section from scratch again. The scope automatically includes localhost:3000 but "Application ID Uri" does not. After i manually change it and add localhost:3000, it started to work.

[2018-08-13 14:04] #11 closed

[2018-08-15 15:33] ardabeyazoglu opened #13 "jwt issuer invalid. expected: https://login.microsoftonline.com/******/v2.0"
Hi,

When I tried to run nodejs-sso example, everything works fine until const {jwt} = auth.verifyJWT(req, {scp: 'access_as_user'}); throws the error jwt issuer invalid. expected: https://login.microsoftonline.com/*****/v2.0. When I checked the expected url and the issuer i placed in the code, they are exactly the same. However, when i decode jwt token i see that iss claim is different than this.

[2018-08-15 17:51] ardabeyazoglu commented on #13
I think, I misunderstood something. In the example, tenant id is placed into issuer so that JWT can be verified by checking issuer (as well as audience). If i place there my office365 user's tenant id, it works okay. However, i am developing a globally available word addin, so different tenants will use the application. In this case, nobody else can verify the jwt. So, I removed issuer verificatio

[2018-08-15 17:55] Rick-Kirkham commented on #13
@ardabeyazoglu I not sure if we support SSO for multitenant add-ins. I'll look into this.

[2018-08-16 11:27] ardabeyazoglu commented on #13
@Rick-Kirkham thanks, i realized that now. A friend with hotmail account couldnt use the addin now. If there is no support for multitenancy with sso, what is the preferred way of accessing onedrive files from addin for different tenants ? Or is it even possible ?

[2018-08-16 17:42] Rick-Kirkham commented on #13
I'm not sure that we don't support multitenant. The SSO preview program is in an uncertain state right now, so I can't give you any information yet.

This [Azure sample](https://github.com/Azure-Samples/active-directory-dotnet-webapp-webapi-multitenant-openidconnect) says that you can use multitenant, but you need to replace default issuer validation with custom validation to validate against a li

[2018-08-17 07:20] ardabeyazoglu commented on #13
Thanks, I ll check out azure sample.

[2018-08-17 16:32] ardabeyazoglu commented on #13
After digging into documentation and various tests, i found out the problem. The problem is, the example code is supposed to use Azure v2, but it actually uses v1 endpoints to download signing keys. When you sign in with a different tenant, it doesnt download the proper key and can not verify jwt. After changing `discoveryUrlSegment` to `v2.0/.well-known/openid-configuration` it works fine. In any

[2018-09-14 15:30] isawek opened #18 "Get file from Sharepoint"
I use this for a Word Add-in and getting Data from graph works fine. But i also try to get a file from SharePoint but get an Unauthorized because the Token is valid for Graph and not for my SharePoint site.

do you have a tipp or idea, how i get the right Token for Sharepoint? i tried to get the token with auth.acquireTokenOnBehalfOf(jwt, ['Files.Read.All'], 'myTenant.sharepoint.com'); but it does

[2018-09-14 16:00] ardabeyazoglu commented on #18
I never used sharepoint, so i am not sure how its done, however i have some ideas. First of all, in which domain are you trying to use office addin? Local office installation, office365.com ?

EDIT: Also, please share which graph api endpoints you use and what type of errors you are getting ?

[2018-09-14 18:37] Rick-Kirkham commented on #18
This page seems to say that you can get SharePoint data using Microsoft Graph: https://developer.microsoft.com/en-us/graph/docs/api-reference/v1.0/resources/sharepoint

But I don't think you should pass a third (resource) parameter to auth.acquireTokenOnBehalfOf because the token issuer is AAD v. 2.0. The 2.0 endpoint does not take a resource parameter. It infers the resource from the scopes that

[2018-09-27 11:44] elrapha commented on #13
@ardabeyazoglu

Have your changes been merged yet? Does not seem like it

[2018-09-27 11:45] ardabeyazoglu commented on #13
@elrapha Yes, they were merged, or better to say _added_. You can find it inside `multitenant` example.

[2018-09-28 04:48] elrapha commented on #13
@ardabeyazoglu  oh yes...i see that now.
How did you dynamically get the tenant id in the multi-tenant architecture? Its not clear. I suppose that would be necessary to verify the issuer?

[2018-09-29 19:32] ardabeyazoglu commented on #13
@elrapha can you tell me more specifically what you didnt understand? You don't need tenant id in this case, user first login to his account and consent your application so that you get an access token on behalf of him. After that, you download the signing keys for the user's account by using this access token and verify the jwt using those keys. In multitenant/src folder, check server.ts and auth

[2018-10-02 20:36] elrapha opened #19 "Does SSO work on Desktop clients?"
Is this supposed to work on desktop clients? I read that getAccessToken is in preview mode for desktop clients. Am I missing some updates to the api? I am building for Outlook

[2018-10-02 22:12] Rick-Kirkham commented on #19
Yes. It is available (as a preview) on desktop clients, including Outlook. You have to be in the Office Insiders program, however. See here https://docs.microsoft.com/en-us/javascript/office/requirement-sets/identity-api-requirement-sets?view=office-js

(There is a mistake in that table, however, the two places where you see "Available" should say "Preview" (with no asterisk). The API is preview o

[2018-10-02 22:12] #19 closed

[2018-10-22 08:49] Devang142 opened #20 "Add-in is not sideloading in outlook when uploaded as custom add-in"
I followed all the steps specified [here](https://docs.microsoft.com/en-us/office/dev/add-ins/develop/create-sso-office-add-ins-nodejs) to test SSO for outlook in local. I uploaded manifest file(attached below) as custom add-in, but when I close the store popup, it not showing up beside store icon.

Current outlook version is: **Outlook 2016 version 1803 (16.0.9126.2295)**

And here is manifest fi

[2018-10-22 20:05] Rick-Kirkham commented on #20
@Devang142 Thanks for your interest in the preview of Single Sigh-on. The issues for this repo are intended for reporting problems with the sample "as is". Now, that you have moved on to creating your own Outlook add-in that uses SSO, you should raise difficulties on StackOverflow. That way the whole community will benefit from the answers that you get. Be sure to tag your StackOverflow question w

[2018-10-22 20:05] #20 closed

[2018-11-01 17:51] venkatkonjeti opened #21 "Token version mis match with new App Registration (Preview)"
For this sample I had registered my App in **apps.dev.microsoft.com**, the **getAccessTokenAsync()** method returns v2.0 token. Using this token I was able to get graph v2.0 token everything works fine.

When I registered the app under the **Azure Portal** -> **App Registration (Preview),** the **getAccessTokenAsync()** method returns the v1.0 token. So, JWT token validation fails and I am unable

[2018-11-01 18:07] Rick-Kirkham commented on #21
@venkatkonjeti
This is by design. You must register the app in apps.dev.microsoft.com to use the SSO preview.

[2018-11-01 18:07] #21 closed

[2018-11-01 18:22] venkatkonjeti commented on #21
The purpose of new App Registration under Azure Portal is to replace the apps.dev.microsoft.com as per Azure team.

In this case it should work as before if I am right.

Can you please clarify.

[2018-11-01 19:12] Rick-Kirkham commented on #21
Please clarify "as per Azure team". Where did you get this information?

[2018-11-01 19:35] venkatkonjeti commented on #21
This was announced at [ignite session](https://www.youtube.com/watch?v=pB5K1qIj-oQ) 14:13. And I can see anything I was registered under apps.dev.microsoft.com into the Azure Portal -> App Registration (Preview).

[2018-11-01 20:29] Rick-Kirkham commented on #21
@venkatkonjeti
I'll ask the developers. This is news to me.

[2018-11-01 20:31] venkatkonjeti commented on #21
Thanks for taking care. Can you please move to open status. If anybody knows about this they will also join the discussion.

[2018-11-01 20:36] Rick-Kirkham commented on #21
@venkatkonjeti
Actually, you should raise this question on StackOverflow for maximum visibility. (Be sure to tag it `office-js`.)The issues for this repo are only for problems with this sample "as it is". As you'll see in the Readme, the sample is meant to be used in conjunction with a walkthrough in our documentation. That walkthrough specifies that apps.dev.microsoft.com be used for registration

[2018-11-01 21:56] venkatkonjeti commented on #21
Okay. Make sense. Thanks again.

[2018-11-07 01:12] cbuettemeier opened #22 "getAccessTokenAsync - Token lacks signature part and can't be decoded"
I'm creating an outlook add-in, and trying to create SSO access. I am getting the app-token, via office.context.auth.getaccesstokenasync and pushing it to a expressjs middleware component, just like in this example here in the repository. Decoding in the auth.ts fails. After having a look at the token itself, it seems invalid as it is one ,-section short.

It works flawlessly in our own tenant (us

[2018-11-07 05:30] Rick-Kirkham commented on #22
@cbuettemeier The issues in this repo are used to track problems with this sample. Since you are now working with your own add-in, it would be better to raise this issue on StackOverflow so that more knowledgeable people will see it and the whole community will benefit from the answers that you get. Be sure to tag the question `office-js`.

[2018-11-07 05:30] #22 closed

[2018-11-07 10:27] cbuettemeier commented on #22
Jep, you are right. Since my addin is build on this example, I thought there might be something I have overlooked here, I can't do much more than calling Office.context.auth.getAccessTokenAsync and work with what I am getting (which works in one tenant).

Sorry for hijacking here.

[2018-11-29 23:32] Rick-Kirkham commented on #7
@saskodh Is this still an issue? If not, I will close this.

[2018-12-21 15:39] isawek opened #25 "Office.context.auth sometimes undefined"
Hi,

i wrote an Office-Add-in for Word and use SSO. Sometimes my api calls work fine but most time the Office.context.auth is undefined so i can´t call getAccessTokenAsync.

tried to call it later with a btn click or with Office.onReady().then(() => {...}) but it doesn´t help.

I use Office 365 ProPlus.
Word Version is 1812

[2018-12-21 17:59] niteshgolchha85 commented on #25
Are you referencing the beta version of office.js in your project? Please note that SSO is in preview and should not be used in production.

[2018-12-23 12:06] cbuettemeier commented on #25
Yes, and to be honest, this becomes more and more annoying. How long is this already in preview? How are we developers for Office solutions supposed to fiddle around with a beta preview and some vague intimations regarding the future of this? In the meantime I have spend a good deal of time in learning the specifics of SSO in Office Addins. But nothing really happens to leverage this to a final st

[2018-12-27 02:36] niteshgolchha85 commented on #25
I can understand your frustration, given the amount of time its taking to go GA, but we have been hitting some really big roadblocks. The major issue is around consent replication and there are some other minor issues as well. That said, we are working towards a solution and I am confident that you will hear back from us real soon.

Coming to the actual issue, I checked with internal engineers and

[2019-01-10 10:58] isawek commented on #25
Sorry for the late response but i was on vacation.

1. We first call it in the componentDidMount react method.
2. Our own APIs are working. I inserted a button that inserts some text to the word document [like here](https://docs.microsoft.com/en-us/office/dev/add-ins/quickstarts/word-quickstart?tabs=visual-studio) and we have the same problem (they work and don´t work together).

following error i

[2019-01-10 11:35] isawek commented on #25
Ok, i found the problem. in the index.html was a second script tag with the office.js as src.

Thank you for your help.

[2019-01-10 11:38] #25 closed

[2019-02-18 15:05] lokkwanfoo opened #26 "Error 13000, API for identity not supported"
I used the NodeJS SSO sample and continued to develop an application from there on out. In Word Online, the application works perfectly fine, but in the Word Client, no matter which version I use, I get error 13000 "API for identity is not supported for this add-in" when using the function getAccessTokenAsync even when I'm using the NodeJS SSO sample without any changes.

I've tried 2016/2017/2018

[2019-03-21 00:08] #13 closed

[2019-06-17 05:34] plamenxpenchev commented on #7
Hello, @Rick-Kirkham. I am hitting the exact same issue with the preview (beta) version of the Office API  in Word Online (vain attempts were also made against the latest versions of the `@microsoft/office-js` package). The following occurs when invoking `Office.context.auth.getAccessTokenAsync`:

![office-online-reply-url-err](https://user-images.githubusercontent.com/36263058/59579919-c50f6680-9

[2019-06-17 18:18] Rick-Kirkham commented on #7
Seems to be a regression bug. I'm going to try to move this to the office-js repo.

[2019-06-17 18:23] Rick-Kirkham commented on #7
@plamenxpenchev
The GitHub UI is not listing `office-js` on the list of repos that I can transfer to. Can I ask you to create an [issue on that repo](https://github.com/OfficeDev/office-js/issues)? Then I can assign it to the appropriate person.

[2019-06-18 06:34] plamenxpenchev commented on #7
@Rick-Kirkham
Thank you for the quick response! Here is the newly-opened issue https://github.com/OfficeDev/office-js/issues/563

[2019-06-18 09:03] Rick-Kirkham commented on #7
The issue is now being tracked in another repo and it isn't really an issue for this sample, _per se_. So I'm closing this.

[2019-06-18 09:03] #7 closed

[2019-09-13 11:13] himanjanpati opened #33 "package and deploy word addin in sharepoint catalog"
Hi,

I am newly developing word addin using yo generator and I created a sample task pane javascript addin and it is running absolutely fine when I am starting the node.js server. My query is how can I consume the word addin in word online without starting the server. Can I put the package somewhere in SharePoint site and making a CDN for that. I have no idea how to package resouces. I know we can

[2019-09-13 19:36] Rick-Kirkham commented on #33
First, please note that the issues for this repo are intended to track problems with the sample. General technical questions about Office Add-ins should be raised on Stack Overflow. Be sure to tag the question `office-js`.

To answer your question, Office Web Add-ins are web applications. They must be hosted on a server. We're looking into the possibility of someday making it possible to package t

[2019-09-13 19:36] #33 closed

[2019-09-14 15:32] himanjanpati commented on #33
Thanks, I will follow that.

Thanks,
Himanjan

On 13-Sep-2019 8:36 PM, Rick-Kirkham <notifications@github.com> wrote:

First, please note that the issues for this repo are intended to track problems with the sample. General technical questions about Office Add-ins should be raised on Stack Overflow. Be sure to tag the question office-js.

To answer your question, Office Web Add-ins are web applica

[2019-09-24 14:24] sumaureliendelasalle opened #34 "{name : "Internal Error", message : "An internal error has occurred.", code : 5001} When using getAccessTokenAsync"
Hello,

I have an error when using getTokenAsync in my Addin for outlook (angular 1.5 + nodejs):
{name : "Internal Error",
message : "An internal error has occurred.",
code : 5001}

I tried a lot of things to get rid of this error but nothing is working.

It was working before, never had this error, I didn't touch the code for 2 months and when I get back I have this.

Thank you in advance for you

[2019-09-24 16:00] Rick-Kirkham commented on #34
Thanks for your interest in Office Add-ins. We use the Issues of this repo to track problems with the sample itself. Once you've gone beyond the sample to create your own add-in, please raise technical questions on Stack Overflow. Be sure to tag the question `office-js` and specify the versions of your OS and Office that you are using. This way more knowledgeable people will see your question and

[2019-09-24 16:00] #34 closed

[2019-12-06 20:46] #18 closed

[2020-05-04 12:17] aagamdoshi opened #45 "Can we have a proper readme.md file to follow steps to execute the solution"
As of now the solution seems pretty difficult whats the start point and all the stuffs for a beginner for Office.js , some steps to run the solution , would be helpful

[2020-05-04 17:15] Rick-Kirkham commented on #45
If you are a beginner with Office.js, you should probably use the AutoSetup version of the sample which has its own readme here: [SSOAutoSetup Readme](https://github.com/OfficeDev/Office-Add-in-NodeJS-SSO/tree/master/SSOAutoSetup).

But auth and SSO are difficult subjects and this is a complex sample. If you really are a beginner you should try to get to an "intermediate" stage before you take on

[2020-05-04 17:15] #45 closed

[2020-05-04 17:16] #8 closed

[2020-05-04 17:16] #9 closed

[2020-05-04 17:16] #10 closed

[2020-07-14 02:28] xtianfelix opened #47 "OfficeRuntime.auth.getAccessToken() always return 13007 error code in a particular tenant"
I've done this nodejs SSO setup in multiple tenants and never had this problem before. With the same setup, this particular office 365 tenant across all users with different access level can't seem to get the bootstrap token from OfficeRuntime.

## Expected Behavior
OfficeRuntime.auth.getAccessToken() should provide add-in with bootstrap token that can be exchanged using on-behalf-of flow to get g

[2020-07-14 17:04] Rick-Kirkham commented on #47
A MSA account has one of the domains @msn.com @hotmail.com @live.com @outlook.com. What is the domain of the user that you are testing with?

Also, does it work on desktop Office?

[2020-07-15 01:22] xtianfelix commented on #47
The user has custom domain like user@customdomain.com. It's work or school account that is created by the tenant admin.

update: i'll need the tenant admin to grant me access to word desktop in order to test what you asked, i'll get back to you when i have clearance. @Rick-Kirkham

[2020-08-07 00:12] #47 closed

[2020-08-28 22:05] jazzolina commented on #47
I am having the same issue in the same context.  The same behavior appears to happen in the desktop version of Word as well as the online version.  Any suggestions would be appreciated.

[2020-08-28 23:05] Rick-Kirkham commented on #47
I can't reproduce this. Are you using an MSA account or an organization (Work or School) O365 account?

[2020-08-29 15:48] jazzolina commented on #47
Organization -- I'm the admin and have granted access to all claims as well.  I'm trying a different example (the Using Graph with a node.js app) and getting a similar error. With a different registered app. Could there be something fundamentally wrong with my subscription or Azure AD settings that needs to be addressed?

[2020-08-30 01:45] Rick-Kirkham commented on #47
What MS Graph permissions did you specify in the Azure portal and in the manifest?
Please show a screenshot of the GUIDs that you preauthorized in the Azure portal.
Does your code branch to a fallback method after you get the 13007? If so, what happens in the dialog? Is the user prompted to consent and logging in?

[2020-09-04 15:57] jazzolina commented on #47
Rick-- thanks for the details here -- I was able to get it working -- it
was my error in terms of the fallback code not being correct.

On Sat, Aug 29, 2020 at 9:45 PM Rick Kirkham <notifications@github.com>
wrote:

--
John Azzolina
c: 440.821.4967
e: john@johnazzolina.com
t: @johnazzolina
b: blog.johnazzolina.com

[2021-04-09 15:35] LiamSolDev opened #61 "Deploying solution started from this example"
Hi,
I have been working on a solution using the code provided here as a starting point.

I went to turn the solution into a production build by following the steps provided here:
https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish-add-in-vs-code

but hit issues when trying to run "npm start build", receiving the message:
![image](https://user-images.githubusercontent.com/44843976/1

[2021-04-09 18:36] Rick-Kirkham commented on #61
That article is about deploying an add-in created with the Yo Office tool. That tool creates a `build` script in the projects that it creates. But there is no such script in this sample. I believe that most of the steps in that article will work for this sample, with these exceptions:
In step 6, do not change the name of `index` to `taskpane`.
For step 9, you will have to manually create a dist fo

[2021-04-09 18:38] Rick-Kirkham commented on #61
@davidchesnut Assigning to you for long term handling.

[2021-04-12 10:29] LiamSolDev commented on #61
Hi Rick,

Thank you for you help.

I followed the steps provided but still encountering issues- could this be caused by the solutions use of pug files rather than straight html?
the paths provided in the manifest (after changing to the azure address) point to: https://XXX.z22.web.core.windows.net/home/index however there is no home folder and the file called index is index.pug which I believe will

[2021-04-12 14:23] LiamSolDev commented on #61
Hi Rick,

Another message if you don't mind,
Still not been able to get the app visible in the taskpane after swapping out the index (can only view the index.html page directly in the browser). While struggling with this I have moved onto the Azure side, and added a new address to the redirect urls: https://XXX.z22.web.core.windows.net/public/dialog.html

but I do not know if I need to change the

[2021-04-12 19:41] Rick-Kirkham commented on #61
Yes. You have to change the localhost:4355 domain to the new domain everywhere in the manifest and in the Azure portal where the add-in is registered.

Can you give a screen shot of your /dist folder, so I can see how its structured?

[2021-04-13 08:14] LiamSolDev commented on #61
Hi Rick,

Thanks for the reply- I will change that now.
Please see the structure of my dist folder and a copy of my manifest file :)

Dist folder Root
![distRoot](https://user-images.githubusercontent.com/44843976/114519449-55695480-9c38-11eb-93a4-88e580b27203.PNG)

Home folder
![home](https://user-images.githubusercontent.com/44843976/114519499-61551680-9c38-11eb-9e16-3ebbb6e0b4a7.PNG)

Public fo

[2021-04-13 12:51] LiamSolDev commented on #61
Hi Rick,

The app is now loading from the index.html page, which is good. Looks to have been maybe some sort of caching issue.

However, I have attempted to change the Application ID url to the Azure url (xxx.web.core.windows.net/) but get the following error:
![image](https://user-images.githubusercontent.com/44843976/114554890-16022e80-9c5f-11eb-8a22-aea7eff8e443.png)

Have you encountered this

[2021-04-13 15:50] davidchesnut commented on #61
Hi @LiamSolDev,

The article [Publish an add-in developed with Visual Studio Code](https://docs.microsoft.com/en-us/office/dev/add-ins/publish/publish-add-in-vs-code) shows how to deploy to a static website. Unfortunately a static website will not work with SSO because you must have a web server to respond to API requests from the add-in. So you'll need to set up an API server of some sort on Azur

[2021-04-16 11:15] LiamSolDev commented on #61
Hi David,

Thanks for the response.
Do you have any advice or are you aware of any tutorials that show how to go about doing this?

I tried deploying to an azure webapp (azure appservice) but did not have any success, I cannot seem to navigate to any page and see the following errors in the Diagnose and Solve Problems:
![image](https://user-images.githubusercontent.com/44843976/115016729-5fe05400-

[2021-04-16 19:34] davidchesnut commented on #61
Hi @LiamSolDev,

Yeah, you'll need to modify the sample to get it to deploy correctly. I got this working, so I'll share my notes as follows:
- For the app service, I used the Windows OS (not linux) and ran the node 12 lts runtime stack.
- The /bin/www file attempts to use office-addin-dev-certs, but this won't work on Azure. Remove any code attempting to use office-addin-dev-certs, and modify the

[2021-04-19 19:10] davidchesnut commented on #61
Hi @LiamSolDev,

One more thing to mention is that while storing the client secret in the .ENV file will get this sample working, it's not a secure method of storing the secret. You should take a look at [Quickstart: Azure Key Vault secret client library for JavaScript (version 4)](https://docs.microsoft.com/en-us/azure/key-vault/secrets/quick-create-node).

Cheers,
David

[2021-04-20 07:32] LiamSolDev commented on #61
Hi David,

Thanks for you support :)

We were able to get the sample deployed.
I will look into the secure keystore at my next possible opportunity, thank you and Rick for your assistance.

Kind Regards,
Liam

[2021-04-23 08:59] LiamSolDev commented on #61
Update- Manged to fix ourselves, issues with configuration not being multi tenant :)
If you do know why these solutions need to be multi-tennant to work even when the users are on the same o365 tennant  I would be intrested to know.

Thank you :) Closing again.

[2021-04-23 10:20] #61 closed